html, body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

#resultado {
    margin-top: 1rem;
}

.word-container {
    background-color: black;
    color: white;
    margin-right: .2rem;
    padding: .5rem;
    border-radius: 10%;
    transition: ease;
    transition-duration: .2s;
    display: inline-block;
    margin-bottom: .2rem;
}

.word-container:hover {
    font-size: 1.5rem;
}

.new-line {
    display: block;
    background-color: initial;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form * {
    display: block;
    margin-bottom: 1rem;
    padding: .5rem 1rem .5rem 1rem;
}

.form .checkbox-container {
    display: flex;
    align-items: center;
}

#cbRemember {
    margin-right: 1rem; /* Espacio entre el checkbox y el label */
}

#lbRemember {
    cursor: pointer;
}

.error-message {
    color: red;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.header {
    background-color: black;
    color: white;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header * {
    vertical-align: middle;
}