html, body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.p2 {
    padding: 2rem;
}

#resultado {
    margin-top: 1rem;
}

.word-container {
    background-color: black;
    color: white;
    margin-right: .2rem;
    padding: .5rem;
    border-radius: 10%;
    transition: ease;
    transition-duration: .2s;
    display: inline-block;
    margin-bottom: .2rem;
}

.word-container:hover {
    font-size: 1.5rem;
}

.new-line {
    display: block;
    background-color: initial;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form * {
    display: block;
    margin-bottom: 1rem;
    padding: .5rem 1rem .5rem 1rem;
}

.form .checkbox-container {
    display: flex;
    align-items: center;
}

#cbRemember {
    margin-right: 1rem; /* Espacio entre el checkbox y el label */
}

#lbRemember {
    cursor: pointer;
}

.error-message {
    color: red;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.header {
    background-color: black;
    color: white;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header * {
    vertical-align: middle;
}

.btn-green{
    color: white;
    background-color: green;
    padding: .75rem;
    border-radius: .5rem;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}

.btn-green:active {
    background-color: darkgreen;
}

.texts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.texts-container a{
    text-decoration: none;
    color: black;
}

.texts-container a:active{
    color: red;
}

.text-info-container {
    background-color: gainsboro;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem rgba(7, 16, 48, 0.4);
    min-width: 28rem;
    max-width: 28rem;
    width: 28rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.text-info-container img{
    width: 100%;
    border-radius: 1rem;
    max-height: 20.95rem;
}

.img {
    width: 100%;
    height: 20.95rem;
    background-color: aliceblue;
    border-radius: 1rem;
    color: white;
    font-size: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-info-container h4 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-stats {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0;
}

.word-unknown {
    padding: .2rem;
    background-color: red;
    color: white;
    border-radius: .2rem;
}

.word-learning {
    padding: .2rem;
    background-color: green;
    color: white;
    border-radius: .2rem;
}

.word-learned {
    padding: .2rem;
    background-color: blue;
    color: white;
    border-radius: .2rem;
}

.word-total {
    padding: .2rem;
    background-color: darkslategray;
    color: white;
    border-radius: .2rem;
}

.splitted-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    background-color: aquamarine;
}

.stats-container {
    background-color: blueviolet;
    min-width: 10rem
}