<!DOCTYPE html>
<html>
<head>
    <title>Aplicación de análisis de texto en japonés</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="app">
        {% with data=data %}
            {% include "components/banner.html" %}
        {% endwith %}
        <form>
            <textarea id="textarea" name="text" rows="10" cols="50" v-model="defaultText"></textarea><br>
            <input v-on:click="sendRequest()" type="button" value="Procesar">
        </form>
        <div id="resultado">
            <span v-for="word in words" class="word-container" v-bind:class="{ 'new-line': word === '\n' }" :key="word">
                {{'{{word}}'}}
            </span>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    defaultText: "このカードの第1話に流れたOPの曲名は何？",
                    words: []
                }
            },
            methods: {
                sendRequest(){
                    const data = {
                        'data': {
                            'text': this.defaultText
                        }
                    };
                
                    fetch('/nagisa', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(result => {
                        result = result.data
                        //this.words = this.words.concat(result.words)
                        this.words = result.words
                    })
                    .catch(error => {
                        console.log("Error");
                        console.error(error);
                    });
                }
            }
          })
        
         app.mount('#app')
    </script>
</body>
</html>
