<!DOCTYPE html>
<html>
<head>
    <title>{{data.app_name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="app">
        {% with data=data %}
            {% include "components/banner.html" %}
        {% endwith %}
        
        <form class="form" @submit="submitForm">
            <input type="text" name="txtUser" id="txtUser" v-model="user" placeholder="{{data.language_data.login_data.email}}" required>
            <input type="password" name="txtPass" id="txtPass" v-model="password" placeholder="{{data.language_data.login_data.password}}" required>
            <p class="error-message">{{'{{error}}'}}</p>
            <button type="submit">{{data.language_data.login_data.login}}</button>
            <a href="/register">{{data.language_data.login_data.register}}</a>
        </form>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    user: "",
                    password: "",
                    error: ""
                }
            },
            methods: {
                submitForm(event){
                    axios.post("/loginBackend", {
                        "txtUser": this.user,
                        "txtPass": this.password
                    })
                    .then(response => {
                        if(response.data.error){
                            this.error = response.data.error;
                        }else if(response.data.success){
                            window.location.href = '/texts';
                        }
                    })
                    .catch(error => {
                        this.error = error;
                    });
                    event.preventDefault();
                }
            }
          })
        
         app.mount('#app')
    </script>
</body>
</html>
